<div class="form-question-control">
  <form [formGroup]="form">

    <div
      *ngIf="question"
      class="form-question-control__body"
      formArrayName="questions"
    >

      <p>
        <strong>Question {{ controlName + 1 }}:</strong> {{ question.question }}{{ question.required ? '*' : ''}}
      </p>
      <ng-container [ngSwitch]="question.type">

        <ng-container *ngSwitchCase="'paragraph'">
          <mat-form-field>
            <textarea
              matInput
              [formControlName]="controlName"
              placeholder="Type answer here"
              maxlength="200"
            ></textarea>
            <mat-error *ngIf="paragraphControl.hasError('maxlength') && !paragraphControl.hasError('required')">
              Max answer length is 200 characters
            </mat-error>
            <mat-error *ngIf="paragraphControl.hasError('required')">
              Answer is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </ng-container>

        <ng-container *ngSwitchCase="'checkbox-list'">
          <ng-container [formGroupName]="controlName">
            <div
              class="option-list"
              formGroupName="list"
            >
              <mat-checkbox
                *ngFor="let option of question.answers"
                [formControlName]="option"
                color="primary"
              >
                {{ option }}
              </mat-checkbox>
              <mat-checkbox
                *ngIf="question.other"
                formControlName="other"
                color="primary"
              >
                Other
              </mat-checkbox>
            </div>
            <div
              *ngIf="question.other && checklistControl.get('list.other')!.value"
              class="other-options"
            >
              <mat-form-field>
                <mat-label>Other answer</mat-label>
                <textarea
                  matInput
                  formControlName="other"
                  placeholder="Type answer here"
                  maxlength="200"
                ></textarea>
                <mat-error *ngIf="checklistControl.get('list.other')!.hasError('maxlength') && !checklistControl.get('list.other')!.hasError('required')">
                  Max answer option length is 200 characters
                </mat-error>
                <mat-error *ngIf="checklistControl.get('list.other')!.hasError('required')">
                  Answer is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </ng-container>
        </ng-container>

      </ng-container>

    </div>

  </form>
</div>
