<div
  *ngIf="questions$ | async as questions"
  class="form-answers"
>

  <ng-container *ngIf="answers">

    <header class="form-answers__header">
      <h1>Here are your answers !</h1>
    </header>

    <main class="form-answers__main">

      <div
        *ngFor="let question of questions; index as i"
        class="answer"
      >
        <h2>{{ question.question }}</h2>

        <div class="answer__body">

          <ng-container [ngSwitch]="question.type">

            <p *ngSwitchCase="'paragraph'">

              {{ paragraphAnswer(i) ? paragraphAnswer(i) : 'No answer' }}
            </p>

            <ng-container *ngSwitchCase="'checkbox-list'">
              <ul>
                <ng-container *ngFor="let answer of question.answers">
                  <li *ngIf="checklistAnswer(i)?.list?.[answer]">
                    {{ answer }}
                  </li>
                </ng-container>
                <li *ngIf="question.other && checklistAnswer(i)?.other">
                  Other - {{ checklistAnswer(i)?.other }}
                </li>
              </ul>
            </ng-container>

          </ng-container>
        </div>
        <mat-divider></mat-divider>
      </div>

    </main>

    <footer class="form-answers__footer">
      <button
        mat-raised-button
        color="primary"
        type="button"
        [routerLink]="['/', 'form', 'builder']"
      >
        Back to Forms Builder
      </button>
    </footer>

  </ng-container>


</div>
